<div class="container text-center">
  <form class="form-signin" #signinForm="ngForm">
    <h1 class="h4 mb-3 font-weight-normal">Please sign in</h1>
    <div>
      <label for="signinFirstName" class="sr-only">First name</label>
      <input id="signinFirstName" name="signinFirstName" class="form-control" type="text" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="First name" required autofocus>
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="validation-container">
        <span class="text-danger" [hidden]="!firstName.errors.required">First name is required</span>
        <span class="help-block"></span>
      </div>
    </div>
    <div>
      <label for="signinLastName" class="sr-only">Last name</label>
      <input id="signinLastName" name="signinLastName" class="form-control" type="text" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Last name" required>
      <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="validation-container">
        <span class="text-danger" [hidden]="!lastName.errors.required">Last name is required</span>
        <span class="help-block"></span>
      </div>
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" (click)="onSigninClick()" [disabled]="!signinForm.valid">Sign in</button>
  </form>
</div>