<div class="container">
  <h4>Available Courses:</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Length (hours)</th>
        <th>Subject</th>
        <th *ngIf="!!showActions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of coursesService.availableCoursesList">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.length }}</td>
        <td>{{ course.subject }}</td>
        <td *ngIf="!!showActions && !!showEditAction" class="col-actions">
          <button class="btn btn-sm btn-outline-primary" [routerLink]="['.', course.id]">Edit course</button>
        </td>
        <td *ngIf="!!showActions && !!showFavoriteAction" class="col-actions">
          <button class="btn btn-sm btn-outline-primary" (click)="onAddToFavoritesClick(course.id)" [disabled]="isFavorite(course.id)">Add to favorites</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
