<div class="container">
  <div *ngIf="!showActions" class="table-header">
    <h4>Available Courses:</h4>
  </div>
  <form *ngIf="!!showActions" class="form-inline">
    <div class="form-header">
      <h4>Available Courses:</h4>
    </div>
    <div class="col-sm-7"></div>
    <div class="search-courses">
      <input id="searchCourses" name="searchCourses" class="form-control" aria-label="Search Courses" placeholder="Search Courses" [(ngModel)]="searchCourses">
    </div>
  </form>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Length (hours)</th>
        <th>Subject</th>
        <th *ngIf="!!showActions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of coursesService.availableCoursesList | search:searchCourses:['id','name','length','subject']">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.length }}</td>
        <td>{{ course.subject }}</td>
        <td *ngIf="!!showActions && !!showEditAction" class="col-actions">
          <button class="btn btn-sm btn-outline-primary" [routerLink]="['.', course.id]">Edit course</button>
        </td>
        <td *ngIf="!!showActions && !!showFavoriteAction" class="col-actions">
          <button class="btn btn-sm btn-outline-primary" (click)="onAddToFavoritesClick(course.id)" [disabled]="isFavorite(course.id)">Add to favorites</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
