<div class="container text-center">
  <form class="form-signin">
    <h1 class="h4 mb-3 font-weight-normal">Please sign in</h1>
    <p>
      <label for="inputFirstname" class="sr-only">First name</label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required autofocus>
    </p>
    <p>
      <label for="inputLastName" class="sr-only">Last name</label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" (click)="onSigninClick($event)">Sign in</button>
  </form>
</div>